{% extends "Entrance/novigation.html" %}

{% block content %}
    <div class="content" >
   <h3>Страница редактирования данных</h3>
    <form style="width: 500px" method="POST" action="/employee/addEmployee/1">
        {% csrf_token %}
         <p>
            <label>Введите имя</label><br>
            <input type="text" name="name"/>
        </p>
         <p>
            <label>Введите фамилию</label><br>
            <input type="text" name="surname"/>
        </p>
        <p>
            <label>Введите занимаю должность</label><br>
            <input type="text" name="position"/>
        </p>
         <p>
            <label>Введите занимаю телефон</label><br>
            <input type="text" name="phone"/>
        </p>
         <p>
            <label>Введите занимаю адресс</label><br>
            <input type="text" name="address"  />

        </p>
        <p>
            <label>Введите занимаю адресс</label><br>
             <input type="text" name = 'worksNumber'/>
        </p>
         <button type="submit" >Добавить</button>
    </form >

<table>
<table><caption> Работники зала </caption>
    <tr><th> Имя </th> <th> Фамилия </th><th> Должность </th><th> Телефон </th><th> Адрес </th></tr>
    {% for res in people %}
     {% if res.worksNumber == 1 %}
       <tr>
                                       <td>{{ res.name }}</td>
                                       <td>{{ res.surname }}</td>
                                       <td>{{ res.position }}</td>
                                       <td>{{ res.phone}}</td>
                                       <td>{{ res.address }}</td>
                                  <td><a href="edit/{{res.id}}">Изменить</a> | <a href="delete/{{res.id}}">Удалить</a></td>
                               </tr>
                          {% endif %}
                      {% endfor %}

<form style="width: 500px"  action="/employee/">
         <button type="submit" >Назад</button>
    </form>

    </div>
    {% endblock %}