{% extends "Entrance/novigation.html" %}

{% block content %}
    <div class="content" >
   <h3>Страница редактирования данных</h3>
    <form style="width: 500px" method="POST" action="/menu/addDB/1">
        {% csrf_token %}
         <p>
            <label>Введите название закуски</label><br>
            <input type="text" name="name"/>
        </p>
         <p>
            <label>Введите выход (гр.)</label><br>
            <input type="text" name="weight"/>
        </p>
        <p>
            <label>Введите цену (грн)</label><br>
            <input type="text" name="price"/>
        </p>
         <button type="submit" >Добавить</button>
    </form >

<table>
                <caption>
                  Холодные закуски
                </caption>
                <tr>
                  <th>Наименование</th>
                  <th>Выход, гр.</th>
                  <th>Цена, грн.</th>
                </tr>

                 {% for res in people %}
        <tr><td>{{ res.name }}</td><td>{{ res.weight }}</td><td>{{ res.price }}</td>
                      <td><a href="edit/{{res.id}}">Изменить</a> | <a href="delete/{{res.id}}">Удалить</a></td></tr>
        {% endfor %}
    </table>
<form style="width: 500px"  action="/menu/">
         <button type="submit" >Назад</button>
    </form>

    </div>
    {% endblock %}