{% extends "entrance/novigation.html" %}

{% block content %}
    <div class="content" >
   <h3>Страница редактирования данных</h3>
    <form style="width: 500px" method="POST" action="/menu/addDB/1">
        {% csrf_token %}
         <p>
            <label>Введите название </label><br>
            <input type="text" name="name"/>
        </p>
        <p>
            <label>Выберити раздел меню</label><br>
{#            <input type="text" name="menu_section"/>#}
            <select name="menu_section">
                <option >Выберити раздел меню:</option>
                <option >Закуски</option>
                <option >Салаты</option>
                <option >Гарниры</option>
                <option >Мясо</option>
                <option >Десерты</option>
                <option >Напитки</option>
                <option >Алкоголь</option>

            </select>
        </p>
         <p>
            <label>Введите выход (гр.)</label><br>
            <input type="text" name="weight"/>
        </p>
        <p>
            <label>Введите цену (грн)</label><br>
            <input type="text" name="price"/>
        </p>
         <button type="submit" >Добавить</button>
    </form >

<form style="width: 500px"  action="/menu/">
         <button type="submit" >Назад</button>
    </form>

    </div>
    {% endblock %}