{% extends "entrance/novigation.html" %}

{% block content %}

    <div class="content">
        <div class="custom-select" style="width:200px;">
            <select>
                <option value="0">Выберити раздел меню:</option>
                <option value="1">Закуски</option>
                <option value="2">Салаты</option>
                <option value="3">Гарниры</option>
                <option value="4">Мясо</option>
                <option value="5">Десерты</option>
                <option value="6">Напитки</option>
                <option value="7">Алкоголь</option>

            </select>
        </div>
        <div id="insert">
        </div>

    </div>

    <script>
        var x, i, j, selElmnt, a, b, c;
        /*look for any elements with the class "custom-select":*/
        x = document.getElementsByClassName("custom-select");

        for (i = 0; i < x.length; i++) {
            selElmnt = x[i].getElementsByTagName("select")[0];
            /*for each element, create a new DIV that will act as the selected item:*/
            a = document.createElement("DIV");
            a.setAttribute("class", "select-selected");
            a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
            x[i].appendChild(a);
            /*for each element, create a new DIV that will contain the option list:*/
            b = document.createElement("DIV");
            b.setAttribute("class", "select-items select-hide");
            for (j = 1; j < selElmnt.length; j++) {
                /*for each option in the original select element,
                create a new DIV that will act as an option item:*/
                c = document.createElement("DIV");
                c.innerHTML = selElmnt.options[j].innerHTML;
                c.addEventListener("click", function (e) {
                    /*when an item is clicked, update the original select box,
                    and the selected item:*/
                    var y, i, k, s, h;
                    s = this.parentNode.parentNode.getElementsByTagName("select")[0];
                    h = this.parentNode.previousSibling;
                    for (i = 0; i < s.length; i++) {
                        if (s.options[i].innerHTML == this.innerHTML) {
                            if (s.options[i].innerHTML == 'Закуски') {

                                var as = "  <table><caption> Закуски  </caption><tr><th>Наименование</th> <th>Выход, гр.</th>" +
                                    " <th>Цена, грн.</th></tr>" +
                                    "{% for res in people %} "+
                                        "{% if res.menu_section  == 'Закуски' %} "+
                                            " <tr><td>{{ res.name }}</td><td>{{ res.weight }}</td>"+
                                            "<td>{{ res.price }}</td>"
                                            +
                                            "<td><a href='edit/{{res.id}}'>Изменить</a> | <a href='delete/{{res.id}}'>Удалить</a></td></tr>  "
                                            +
                                            "{% endif %} "+
                                        "{% endfor %} " +
                                    "</table> <form action='addDB/' >" +
                                    "    <button style='width:200px;'> Добавление данных </button>" +
                                    "</form>";
                                document.getElementById("insert").innerHTML = as;


                            } else if (s.options[i].innerHTML == 'Салаты') {
                                var as = "  <table><caption> Салаты  </caption><tr><th>Наименование</th> <th>Выход, гр.</th>" +
                                    " <th>Цена, грн.</th></tr>" +
                                    "{% for res in people %} "+
                                        "{% if res.menu_section  == 'Салаты' %} "+
                                            " <tr><td>{{ res.name }}</td><td>{{ res.weight }}</td>"+
                                            "<td>{{ res.price }}</td>"
                                            +
                                            "<td><a href='edit/{{res.id}}'>Изменить</a> | <a href='delete/{{res.id}}'>Удалить</a></td></tr>  "
                                            +
                                            "{% endif %} "+
                                        "{% endfor %} " +
                                    "</table> <form action='addDB/' >" +
                                    "    <button style='width:200px;'> Добавление данных </button>" +
                                    "</form>";
                                document.getElementById("insert").innerHTML = as;

                            } else if (s.options[i].innerHTML == 'Гарниры') {
                                var as = "  <table><caption> Закуски  </caption><tr><th>Наименование</th> <th>Выход, гр.</th>" +
                                    " <th>Цена, грн.</th></tr>" +
                                    "{% for res in people %} "+
                                        "{% if res.menu_section  == 'Гарниры' %} "+
                                            " <tr><td>{{ res.name }}</td><td>{{ res.weight }}</td>"+
                                            "<td>{{ res.price }}</td>"
                                            +
                                            "<td><a href='edit/{{res.id}}'>Изменить</a> | <a href='delete/{{res.id}}'>Удалить</a></td></tr>  "
                                            +
                                            "{% endif %} "+
                                        "{% endfor %} " +
                                    "</table> <form action='addDB/' >" +
                                    "    <button style='width:200px;'> Добавление данных </button>" +
                                    "</form>";
                                document.getElementById("insert").innerHTML = as;
                            } else if (s.options[i].innerHTML == 'Мясо') {
                                var as = "  <table><caption> Мясо  </caption><tr><th>Наименование</th> <th>Выход, гр.</th>" +
                                    " <th>Цена, грн.</th></tr>" +
                                    "{% for res in people %} "+
                                        "{% if res.menu_section  == 'Мясо' %} "+
                                            " <tr><td>{{ res.name }}</td><td>{{ res.weight }}</td>"+
                                            "<td>{{ res.price }}</td>"
                                            +
                                            "<td><a href='edit/{{res.id}}'>Изменить</a> | <a href='delete/{{res.id}}'>Удалить</a></td></tr>  "
                                            +
                                            "{% endif %} "+
                                        "{% endfor %} " +
                                    "</table> <form action='addDB/' >" +
                                    "    <button style='width:200px;'> Добавление данных </button>" +
                                    "</form>";
                                document.getElementById("insert").innerHTML = as;
                            } else if (s.options[i].innerHTML == 'Десерты') {
                                var as = "  <table><caption> Десерты  </caption><tr><th>Наименование</th> <th>Выход, гр.</th>" +
                                    " <th>Цена, грн.</th></tr>" +
                                    "{% for res in people %} "+
                                        "{% if res.menu_section  == 'Десерты' %} "+
                                            " <tr><td>{{ res.name }}</td><td>{{ res.weight }}</td>"+
                                            "<td>{{ res.price }}</td>"
                                            +
                                            "<td><a href='edit/{{res.id}}'>Изменить</a> | <a href='delete/{{res.id}}'>Удалить</a></td></tr>  "
                                            +
                                            "{% endif %} "+
                                        "{% endfor %} " +
                                    "</table> <form action='addDB/' >" +
                                    "    <button style='width:200px;'> Добавление данных </button>" +
                                    "</form>";
                                document.getElementById("insert").innerHTML = as;
                            } else if (s.options[i].innerHTML == 'Напитки') {

                                var as = "  <table><caption> Напитки  </caption><tr><th>Наименование</th> <th>Выход, гр.</th>" +
                                    " <th>Цена, грн.</th></tr>" +
                                    "{% for res in people %} "+
                                        "{% if res.menu_section  == 'Напитки' %} "+
                                            " <tr><td>{{ res.name }}</td><td>{{ res.weight }}</td>"+
                                            "<td>{{ res.price }}</td>"
                                            +
                                            "<td><a href='edit/{{res.id}}'>Изменить</a> | <a href='delete/{{res.id}}'>Удалить</a></td></tr>  "
                                            +
                                            "{% endif %} "+
                                        "{% endfor %} " +
                                    "</table> <form action='addDB/' >" +
                                    "    <button style='width:200px;'> Добавление данных </button>" +
                                    "</form>";
                                document.getElementById("insert").innerHTML = as;
                            } else if (s.options[i].innerHTML == 'Алкоголь') {
                                var as = "  <table><caption> Алкоголь  </caption><tr><th>Наименование</th> <th>Выход, гр.</th>" +
                                    " <th>Цена, грн.</th></tr>" +
                                    "{% for res in people %} "+
                                        "{% if res.menu_section  == 'Алкоголь' %} "+
                                            " <tr><td>{{ res.name }}</td><td>{{ res.weight }}</td>"+
                                            "<td>{{ res.price }}</td>"
                                            +
                                            "<td><a href='edit/{{res.id}}'>Изменить</a> | <a href='delete/{{res.id}}'>Удалить</a></td></tr>  "
                                            +
                                            "{% endif %} "+
                                        "{% endfor %} " +
                                    "</table> <form action='addDB/' >" +
                                    "    <button style='width:200px;'> Добавление данных </button>" +
                                    "</form>";
                                document.getElementById("insert").innerHTML = as;
                            }
                            s.selectedIndex = i;
                            h.innerHTML = this.innerHTML;
                            y = this.parentNode.getElementsByClassName("same-as-selected");
                            for (k = 0; k < y.length; k++) {
                                y[k].removeAttribute("class");
                            }
                            this.setAttribute("class", "same-as-selected");
                            break;
                        }
                    }
                    h.click();
                });
                b.appendChild(c);
            }
            x[i].appendChild(b);
            a.addEventListener("click", function (e) {
                /*when the select box is clicked, close any other select boxes,
                and open/close the current select box:*/
                e.stopPropagation();
                closeAllSelect(this);
                this.nextSibling.classList.toggle("select-hide");
                this.classList.toggle("select-arrow-active");
            });
        }

        function closeAllSelect(elmnt) {
            /*a function that will close all select boxes in the document,
            except the current select box:*/
            var x, y, i, arrNo = [];
            x = document.getElementsByClassName("select-items");
            y = document.getElementsByClassName("select-selected");
            for (i = 0; i < y.length; i++) {
                if (elmnt == y[i]) {
                    arrNo.push(i)
                } else {
                    y[i].classList.remove("select-arrow-active");
                }
            }
            for (i = 0; i < x.length; i++) {
                if (arrNo.indexOf(i)) {
                    x[i].classList.add("select-hide");
                }
            }
        }

        /*if the user clicks anywhere outside the select box,
        then close all select boxes:*/
        document.addEventListener("click", closeAllSelect);
    </script>
{% endblock %}